
<table>
    <tr>
      <td>Name: </td>
      <td>{{selectedProduct.productName}}</td>
    </tr>
    <tr>
      <td>Code: </td>
      <td>{{selectedProduct.productCode}}</td>
    </tr>
    <tr>
      <td>Availability: </td>
      <td>{{selectedProduct.releaseDate| date :"dd/MM/yyyy"}}</td>
    </tr>
    <tr>
      <td>Price: </td>
      <td>{{selectedProduct.price | currency: 'EUR'}}</td>
    </tr>
    <tr>
     <td>Rating: </td>
     <td><ngb-rating [(rate)]="selectedProduct.starRating"></ngb-rating> </td>   
  </tr>
  </table>
  
    <img class="img-responsive center-block" alt="image"   src="{{selectedProduct.imageUrl}}">
    
  
  
    <br>
  <button class="btn btn-danger" (click)="onBack();">Retour Catalogue</button>
  <br>
  <button class="btn btn-primary" (click)="goPrevious();">Previous</button>
  <button class="btn btn-primary" (click)="goNext();">Next</button>
  
  
