<!--The content below is only a placeholder and can be replaced.-->
<nav  class="navbar navbar-expand-lg navbar-light sticky-top" style=" margin-bottom: 30px; background-color: rgb(46, 189, 46);">
    <a class="navbar-brand" href="#">brand </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home">&#8594;Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/catalogue">&#8594;Catalogue</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>



<!--<h2>Création de nouveau utilisateur: </h2>

<form>
  <table class="table">
 <tr>
   <td><label for="txtNom">Nom:</label>  </td>
   <td><input type="text" name="txtNom" id="txtNom" placeholder="Votre nom..." class="form-control" [(ngModel)]="tmpUser.lastName"/></td>
 </tr>
 <tr>
   <td><label for="txtPrenom">Prénom:</label></td>
   <td><input type="text" name="txtPrenom" id="txtPrenom" placeholder="Votre prénom..."class="form-control" [(ngModel)]="tmpUser.name"/> </td>
 </tr>	
 <tr>
   <td><label for="txtMail">Date de naissance:</label></td>
   <td><input type="date" name="txtDate" id="txtDate" class="form-control" [(ngModel)]="tmpUser.date"/></td>
 </tr>
 <tr>
   <td><label for="txtForm">Formation:</label></td>
   <td><input type="text" name="txtForm" id="txtForm" class="form-control" placeholder="AJC" [(ngModel)]="tmpUser.formation"/> </td>
 </tr>
</table> 
</form>
<button  class="btn btn-success"  (click)="enregister()">
   Enregistrer
 </button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Date de naissance</th>
      <th scope="col">Formation</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listUser ; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{ item.lastName }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.date }}</td>
      <td>{{ item.formation }}</td>
      <td> <button type="button" class="btn btn-primary"(click)="modifier(item)">Modifier</button>
           <button type="button" class="btn btn-danger" (click)="supprimer(i)">Supprimer</button> </td>
    </tr>
  </tbody>
</table>-->
