<hr>
Recherche d'un produit: <input class="text" [(ngModel)]="searchText" size="30" placeholder="Tapez le nom du produit à rechercher">
<br>
<hr>
<button class="btn btn-primary" (click)="updateImage()">{{buttonTitle}}</button>
       <div class='table-responsive'>
          <table class='table'>
            <thead>
              <th *ngIf="showImage">Image</th>
              <th>Produit</th>
              <th>Code</th>
              <th>Jour de dispo</th>
              <th>Prix</th>
              <th>Avis et votes</th>
            </thead>
            <tbody>
               <tr *ngFor="let post of listProducts | filter : searchText" >
                 <td *ngIf="showImage"><img src="{{post.imageUrl}}"> </td>
                 <td> <a [routerLink] = "['/catalogue', post.productId]">{{post.productName}}</a></td>
                 <td> {{post.productCode}}</td>
                 <td> {{post.releaseDate | date :"dd/MM/yyyy"}}</td>
                 <td> {{post.price | currency: 'EUR'}}</td>
                 <td><ngb-rating [(rate)]="post.starRating"></ngb-rating> </td>   
               </tr>
            </tbody>
          </table>
         </div>